@media all {
    .eve-intel-widget-column {
        display: inline-block;
        vertical-align: top;
    }

    .eve-intel-column-2 {
        width: 50%;
    }

    .eve-intel-column-3-2 {
        width: 66.666666666%
    }

    .eve-intel-column-3-1 {
        width: calc(33.333333333% - 15px);
    }

    .eve-intel-widget-row {
        display: block;
        width: 100%;
    }

    .eve-intel-widget-number.eve-intel-widget-align-right {
        margin-right: 15px;
    }

    .eve-intel-widget-align-right {
        text-align: right;
    }
}
